<!--
  Generated template for the ListOfPlacesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons left>
         <button ion-button menuToggle>
           <ion-icon name="menu"></ion-icon>
         </button>
     </ion-buttons>
    <ion-title text-center style="margin-left:-11%;">Mekan Listesi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding> 
   <ion-searchbar [(ngModel)]="searchPlaces" (input)="getSearchedPlaces()" (ionClear)="onCancelSearched(2)" placeholder="Arama"></ion-searchbar>
  
   <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-label color="mail">Mekan Tipi</ion-label>
        <ion-select okText="Seç" cancelText="İptal" [(ngModel)]="placeTypeId" (ngModelChange)="changeInMacro()" (ionChange)="selectPlaceType($event)" multiple="false">
          <ion-option value="0">Hepsi</ion-option> 
          <ion-option value="1">Kafe</ion-option> 
          <ion-option value="2">Bar</ion-option> 
          <ion-option value="3">Restorant</ion-option> 
          <ion-option value="4">Müze</ion-option> 
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-12>
        <ion-item>
            <ion-label style="margin-bottom: -10%;" color="secondary">Popülarite</ion-label> 
            <ion-range min="0" max="5" step="1" snaps="true" pin="true" color="pending" [(ngModel)]="placeStar" (ionChange)="changeInMacro()">
                <ion-icon small range-left name="star-outline"></ion-icon>
                <ion-icon color="danger" range-right name="star"></ion-icon>
              </ion-range>
          </ion-item>
    </ion-col>
  </ion-row>

    
   <div class="card-example-view">
        <ion-list class="accordion-list">
            <!-- First Level -->
            <ion-list-header *ngFor="let item of placesList; let i = index" no-lines no-padding>
              <!-- Toggle Button -->
              <button ion-item (click)="goPlaceDetail(item.Id)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
                  #{{ i+1 }} -  {{ item.Name }} 
                  <a text-lowercase text-right item-right>{{ item.Rating }} <ion-icon item-right name="star"></ion-icon>  </a> 
                  <ion-icon item-right name="cafe" *ngIf="item.PlaceType == 1"></ion-icon>
                  <ion-icon item-right name="beer" *ngIf="item.PlaceType == 2"></ion-icon>
                  <ion-icon item-right name="restaurant" *ngIf="item.PlaceType == 3"></ion-icon>
                  <ion-icon item-right name="easel" *ngIf="item.PlaceType == 4"></ion-icon>
                </button> 
            </ion-list-header>
            <ion-title *ngIf="IslacesList" text-center> Daha Fazla Sonuç Bulunamadı</ion-title> 
            <ion-title *ngIf="IslacesList && placesList" text-center> Sonuç Yok</ion-title> 
          </ion-list>
    </div>   
    <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" >
        <ion-infinite-scroll-content *ngIf="infiniteScrollEnabled"
          loadingSpinner="bubbles"
          loadingText="Yükleniyor..">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
