

.DescriptionBtn{
    margin-right: -30%;
    margin-top: -70%;
}

page-home { 

    .toolbar-title-ios {
        font-size: 2.4rem;
        font-weight: normal;
    }
    ion-slides {
        height: 70vh;
    }

    .scroll-content {
        padding-top: 0 !important;
    }

    .bar-buttons,
    .bar-button,
    .toolbar-title {
        color: #fff;
    }

    .uppercase {
        text-transform: uppercase;
    }

    span.button-inner {
        text-transform: uppercase;
    }

    ion-slide {
        color: white;
        position: fixed;

        small {
            display: block;
            font-size: 65%;
        }
        .bottom-text {
            left: 0;
            right: 0;
            bottom: 10%;
            position: absolute;
        }

        .big-title {
            font-size: 6rem;
        }

        .slide-zoom {
            display:flex;
            justify-content:center; 
            align-items:center;
            width:100%;
            background: linear-gradient(0deg, rgba(77, 38, 0, 0.84) 0%, rgba(255, 102, 163, 0.35) 100%) !important;
            //background: linear-gradient(0deg, rgba(92, 0, 230, 0.84) 0%, rgba(255, 102, 163, 0.35) 100%) !important;
            //background: linear-gradient(0deg, rgba(102, 0, 102, 0.84) 0%, rgba(255, 102, 163, 0.35) 100%) !important;
            //background: linear-gradient(0deg, rgba(255, 26, 117, 0.84) 0%, rgba(255, 102, 163, 0.35) 100%) !important;
            height: 100%;
        }
        
        &.slide-background {
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            border-color: transparent !important;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: #fff !important;
        border: none;
    }

    .swiper-pagination-bullet {
        background-color: transparent;
        border: 1px solid white !important;
        width: 14px;
        height: 14px;
        opacity: 1;
	}
	.catcat{
		//color: white;
		font-size: 18px;
	}

	.cat2{
        border:  3px solid #4d2600;  //#2e2eb8; //#ff4d94;          //#660066;                       //#ff4d94;
        border-radius: 20px;
	}

   .promo{
       font-size: 20px;
   }

   .cont{
    background-color: #f0f5f5;
}


.cart-icon{
    font-size: 25px;
    color: #fff;
  }
  
  #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
  }
  
  
  #notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
  }

}

 
  
   