<ion-header no-border>
    <ion-navbar transparent>
        <ion-title text-right>
            PubSpinner
          </ion-title>
       <ion-buttons left>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
            <ion-buttons end>

        <!-- Product count icon in cart-->
      <button ion-button id="notification-button" (click)="pushToCart($event)" >
        <ion-icon name="cart" class="cart-icon">
        <ion-badge  id="notifications-badge" color="danger"> 1</ion-badge>
        </ion-icon>
        </button>
        <!-- Notification count icon-->
        <button ion-button id="notification-button" (click)="goNotify()" >
          <ion-icon name="notifications" class="cart-icon">
          <ion-badge id="notifications-badge" color="danger"> 2</ion-badge>
          </ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content fullscreen class="cont">
      <!-- Slider Banner top-->
     <ion-slides pager loop="true" style="height:40%" >
       <ion-slide *ngFor="let item of servicesList"
                 class="slide-background"
                 [ngStyle]="{ 'background': 'url(' + item.ImageUrl + ')'}">
         <div class="slide-content">
           <span class="header-font big-title uppercase">{{ item.Name }}</span>
           <small class="uppercase"></small>
           <small class="bottom-text uppercase">{{ item.Id }}</small>
           <button ion-button round color="chocolate">{{ item.Count }}</button>
         </div>
       </ion-slide>
     </ion-slides>

     <ion-list>
       <ion-item no-lines>
           <h3 text-center class="catcat"><b> Nerelerdeyiz ?</b></h3>
       </ion-item>
       <!-- Service Banner at bottom-->
       <div>
       <ion-spinner *ngIf="!servicesList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; font-size: 20px; font-weight:bold" ></ion-spinner>
       <ion-grid>
           <ion-row wrap>
             <ion-col col-6 *ngFor="let service of servicesList" >
             <ion-item class="cat2" text-center>
                <ion-thumbnail slot="start" >
                    <img class="expanded-image"  src="{{service.ImageUrl}}" />
                  </ion-thumbnail>
             <!-- <img class="expanded-image"  src="../../assets/images/beer.png" /> -->
             <h5 text-center><b>{{service.Count}}  {{service.Name}}</b></h5>
             </ion-item>
             </ion-col>
           </ion-row>
         </ion-grid>
       </div>
     </ion-list>

   </ion-content>
